body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #00009C;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

#logo {
    height: 60px;
}

#homeButton {
    background: none;
    border: none;
    cursor: pointer;
}

#homeIcon {
    height: 60px;
}

.filter-container {
    position: fixed;
    top: 100px; /* Ajuste conforme necessário */
    width: 100%;
    padding: 10px;
    background-color: #f8f8f8;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-container input, .filter-container select, .filter-container button {
    margin-right: 10px;
}

.table-container {
    margin-top: 180px; /* Ajuste conforme necessário */
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead th {
    position: sticky;
    top: 180px; /* Ajuste conforme necessário */
    background-color: #f1f1f1;
    z-index: 998;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2000; /* Valor maior que o z-index do cabeçalho e dos filtros */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.low-stock {
    background-color: #ec5353;
    color: white;
}
